@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,700;1,700&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg1: #33B7FF;
  --bg2: #178AC9;
  --bg3: #FFC60A;
  --bg4: #FE5709;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpaperaccess.com/full/2265699.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.main-box {
  width: 90%;
  max-width: 1080px;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.main-box h1 {
  color: #fff;
}

.users-btns {
  width: 40%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.users-btns .tenant {
  width: 25%;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(1, 250, 47, 0.519);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.users-btns .land-lord {
  width: 25%;
  border-radius: .5rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  color: white;
  padding: 0.3rem 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-box {
  width: 52%;
  height: fit-content;
  border-radius: .8rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 2rem 0;
  display: block;
}

.login-box2 {
  width: 52%;
  height: fit-content;
  border-radius: .8rem;
  border: 2px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  padding: 2rem 0;
  display: none;
}

.text-box {
  width: 90%;
  text-align: center;
  margin-bottom: 0.5rem;
}

.text-box input {
  width: 100%;
  color: #fff;
  outline: none;
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.text-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.text-box input:focus {
  border: 2px solid #ff8001;
}

.text-box .btn {
  margin-top: .5rem;
}

.text-box a {
  background-color: #ff8001;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.text-box a:hover {
  background: #ff530a;
}

.text-box .btn:active {
  transform: scale(0.9);
}

.text-box .btn .btn2 {
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 0.7rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.login-box-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.login-box-footer p {
  color: var(--bg2);
  /* font-size: 1.2rem; */
  font-weight: 600;
  cursor: pointer;
}

.login-box-footer small {
  color: #fff;
  font-weight: 600;
}

.text-box-password {
  position: relative;
}

.text-box .see {
  position: absolute;
  top: 33%;
  right: 3%;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.text-box-2 {
  position: relative;
}

.text-box-2 i {
  position: absolute;
  bottom: 26%;
  right: 3%;
  visibility: hidden;
}

.text-box-2.success input {
  border-color: #2ecc71;
}

.text-box-2.error input {
  border-color: #e73c3c;
}

.text-box-2.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;

}

.text-box-2.error i.fa-circle-exclamation {
  color: #e73c3c;
  visibility: visible;
}

.text-box-2 small {
  position: absolute;
  left: 0;
  bottom: -50%;
  font-weight: 600;
  visibility: hidden;
}

.text-box-2.error small {
  color: #e73c3c;
  visibility: visible;
}

.text-box-3 {
  position: relative;
}

.text-box-3 small {
  position: absolute;
  left: 0;
  bottom: -50%;
  font-weight: 600;
  visibility: hidden;
}

.text-box-3.error input {
  border-color: #e73c3c;
}

.text-box-3.success input {
  border-color: #2ecc71;
}

.text-box-3.error small {
  color: #e73c3c;
  visibility: visible;
}

/* Login page responsiveness */
@media screen and (max-width: 900px) {
  .login-box {
    width: 70%;
  }

  .login-box2 {
    width: 70%;
  }

  .users-btns {
    width: 60%;

  }
}

@media screen and (max-width: 768px) {
  .login-box {
    width: 75%;
  }

  .login-box2 {
    width: 75%;
  }

  .users-btns {
    width: 70%;

  }

  .users-btns .tenant {
    width: 30%;

  }

  .users-btns .land-lord {
    width: 30%;
  }

  .main-box h1 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    width: 90%;
  }

  .login-box2 {
    width: 90%;
  }

  .users-btns {
    width: 90%;

  }

  .users-btns .tenant {
    width: 40%;

  }

  .users-btns .land-lord {
    width: 40%;
  }

  .main-box h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .login-box {
    width: 100%;
  }

  .login-box2 {
    width: 100%;
  }
}

@media screen and (max-height: 670px) {
  .wrapper {
    height: fit-content;
    padding-bottom: 2rem;
  }
}